type swid, domain;
type swid_exec, exec_type, vendor_file_type, file_type;
type swid_sock, data_file_type, file_type;

init_daemon_domain(swid)

allow swid console_device:chr_file rw_file_perms;
allow swid uhid_device:chr_file rw_file_perms;
allow swid shell_exec:file { execute execute_no_trans read open getattr };
allow swid toolbox_exec:file { execute execute_no_trans read open getattr };
allow swid sysfs:file { read open };
allow swid system_data_file:dir { rw_file_perms add_name remove_name };
allow swid system_data_file:sock_file { create getattr setattr unlink };
allow swid swid_sock:sock_file { create getattr setattr unlink };

allow swid swid:capability { chown fowner fsetid };
allow swid system_data_file:sock_file { relabelfrom };
allow swid swid_sock:sock_file { relabelto };
allow swid vendor_data_file:dir { rw_file_perms add_name remove_name };
allow swid vendor_data_file:sock_file { relabelfrom create getattr setattr unlink };

allow system_app swid_sock:sock_file { write };
allow system_app swid:unix_stream_socket { connectto };

allow system_server swid_sock:sock_file { write };
allow system_server swid:unix_stream_socket { connectto };
